.dropdown{
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
.input{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
.report{
    /* border: 1px solid black; */
    height: 50vh;
    border-radius: "12px";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
}
.data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: "12px";
}